body {
    font-family: arial;
    background-color: dodgerblue;
}

.grass{
    background-color: green;
}

.theName {
    padding : 0.5em;
}

.container{
    margin: auto;
    padding : 1em;
    border: 0.25em solid orange;
    background-color: white;
    width: 80%;
}
